In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from tqdm import tqdm
import statsmodels.api as sm
import json
import os
from get_plot_dict import get_plot_dict
from tqdm import tqdm
import warnings
warnings.filterwarnings('ignore')
from datequarter import DateQuarter
import datetime
import math

In [2]:
def get_panjiva():
    """ Data PANJIVA """
    
    df = pd.read_csv('portof(un)lading/panjivausimport_imputevalue_shippingtime_yq.csv')
    df = df[['gvkey', 'year', 'quarter', 'hscode6', 'shpcountry', 'valueofgoodsusd_new', 'volumeteu', 'weightkg']]
    
    return df

In [3]:
df = get_panjiva()

In [5]:
df["gvkey_hscode6"] = df['gvkey'].astype(str) +"_"+ df["hscode6"].astype(str)

In [8]:
id = '5643_940360'
df = df[df['gvkey_hscode6'] == id]
df

,gvkey,year,quarter,hscode6,shpcountry,valueofgoodsusd_new,volumeteu,weightkg,gvkey_hscode6
27819,5643,2007,3,940360,China,47362.807810,2.00,14469.0,5643_940360
27820,5643,2007,3,940360,China,79533.771605,5.00,24297.0,5643_940360
290061,5643,2007,4,940360,Singapore,977.492482,0.03,300.0,5643_940360
754254,5643,2008,4,940360,China,1232.189593,0.03,338.0,5643_940360
978610,5643,2009,2,940360,China,51436.688107,4.00,12568.0,5643_940360
...,...,...,...,...,...,...,...,...,...
6865661,5643,2021,4,940360,India,0.000000,2.00,8323.0,5643_940360
6968911,5643,2022,1,940360,India,16313.311750,2.00,4308.0,5643_940360
7023443,5643,2022,1,940360,United Kingdom,759.596870,0.03,180.0,5643_940360
7095005,5643,2022,2,940360,India,23948.390809,2.00,6529.0,5643_940360
7137219,5643,2022,2,940360,United Kingdom,2009.509797,0.10,480.0,5643_940360

In [9]:
df.to_csv(os.path.join('DATA', 'df_5643_940360_countries.csv'))